*{
    margin:0;
    padding:0;
    text-decoration: none; 
    list-style-type: none;
    box-sizing: border-box;
}

.frontpage{
    position: relative;
    width:100%;
    height:68rem;
    background:#90e0ef;
    margin: 0;
    overflow: hidden;
}

nav{
    font-family: 'yellowtail', sans-serif;
    max-width:80%;
    height:auto;
    display:flex;
    position:relative;
    z-index:1;
    top:2rem;  
    margin:0 15%; 
    margin-bottom:10rem;
}

.nav-logo{
    width:30%;
    height: fit-content;
    flex:1;
}

#nav-logo-cover{
    width: 12.5rem;
    height:4.2rem;
    display:flex;
    border-radius: 2px;
    padding:10px;
    background: #034d9c;
}

.logo,.nav-logo-letter{
    margin:0;
    font-weight: 100;
}

.logo{
    width:50px;
    height:50px;
   
}

.logo-letter{
    position: relative;
    top:-.6rem;
    color:#edf6f9;
    font-size:2.7rem;
    font-weight: 700;
    margin-left:-.3rem;
}
.nav-link-bar{
    position:relative;
    top:10px;
    font-size: 1.3rem;
    align-self: center;
    width:65%; 
}

.nav-links{
    font-family: 'Readex pro',sans-serif;
    font-size: 1.rem;
    font-weight: 600;
    background: #0077b6;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin:0;
    display: flex;
    justify-content: flex-end;
   
}

.nav-link{
 margin:0 auto;
}



.heropage{
    max-width:90%;
    height:100%;
    position:relative;
    top:-3rem;
    margin:0;
}
#blob1{
    top:-6rem;
    position:absolute;
    z-index: 0;
   
}

.blob1{
    height:45rem;
    width:60rem; 
}

.heroquote p{
width:fit-content;
height:auto;   
position:relative;
top:3rem; 
left:18rem;   
font-family: 'Rubik',sans-serif;
font-size:6rem;
font-weight: 600;
border-style:hidden;
outline:none;
line-height: 5rem;
}

.heroquote span{
color:#F8F9FA;

}

.img2{
    width: 25rem;
    height:25rem;
   
}

#img2{
 position:absolute;
 z-index: 1;
 top:-.5rem;
 left:44rem;
}

#blob2{
    position:absolute;
    z-index:0;
    top:-28rem;
    right:8rem;
    width:31.25rem;
    height:31.25rem;
}

.blob2{
   width:31.25rem;
   height:31.25rem;

}
.heroquote2{
   width:70vw;
   height:auto;
   font-family:'Readex pro',sans-serif;
   color:#5a189a;
   position:relative;
   top:4rem;
   left:18rem;
}
.HQ1{
    width:70vw;
    font-size:5rem;
    font-weight:600;
}
.HQ2{

    width:50vw;
    position:relative;
    top:-.5rem;
    font-size:1.5rem;
    font-weight:500;
    line-height:3rem;  
}

.HQ2 span{
    font-size:2rem;
    background-image: linear-gradient(to bottom, #ffaa00, #ffad00, #ffb100, #ffb400, #ffb700);
    background:#ffaa00;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    font-weight:700;
}

#btn{
    width:50vw;
    height:auto;
    position:relative;
    top:1rem;
    z-index:1;
}

.button {
    width:13rem;
    height:6rem;
    font-family: 'jost',sans-serif;
    top:0rem;
    font-size: 2rem;
    font-weight:600;
    background:#e2afff;
    border:1px solid #e2afff;
    border-radius: 50px;
  
}
.button1 a{
    text-decoration: none;
    color:#ffffff;

}
.button1:hover{
    background: transparent;
    border:3px solid #ffffff;
  

}
.button1:hover a{
    color:#ffffff;
}

.button2{
    position:relative;
    left:.5rem;
    background:#0077b6;
    border:3px solid #0077b6;
}
.button2 a{
    text-decoration: none;
    color:#caf0f8;

}

.button2:hover{
    background: transparent;
    border:3px solid #05668d;
    color:#05668d; 
} 
.button2:hover a{
    color:#05668d;

}

.slidescreen,.menu{
    display:none;
}

 @media (max-width:1300px){
    .nav{
        width:90%;
        margin:0 5%;
    }
    .logo{
        position: relative;
        top:.3rem;
        width:50px;
        height:50px;
    }
    .logo-letter{
        top:-.3rem;
    }
    .frontpage{
        width:100vw;
        height:77rem;
    }
    .heropage{
       width:100%;
       height:100%;
       margin:0;
    }
    #blob1{
        left:-13rem;
    }
    .heroquote{
        position:relative;
        width:fit-content;
        margin:0;
        top:2rem;
        left:-8rem;
    }
    .heroquote p{
        font-size:5rem;
        line-height:4.5rem;
    }
   
    #img2{
        top:rem;
        left:33rem;
    }
    .img2{
        width: 25rem;
        height:25rem;
       
    }
    #blob2{
        top:-23rem;
        right:-34rem;
    }
    .blob2{
        width:24rem;
        height:24rem;
    }
    .heroquote2{
        width:90%;
        margin:0 10%;
        top:7rem;
        left:5rem;
    }
    .HQ1{
        width:85%;
        font-size:5rem;
    }
    .HQ2{
        width:80%;
       font-size:1.7rem;
    }
    .HQ2 span{
        font-size:2.5rem;
    }
    
    .button2{
        left:0.3rem;
    }

 @media(max-width:1105px){
    .frontpage{
        height:80rem;
    }
}   

} 

@media (max-width:768px){
    nav{
        top:1rem;
        max-width:95%;
        margin:0 5%;

    }
    .nav-logo{
        position: relative;
        left:-1.5rem;
        flex:3;
    }
    
    .logo{
        width:40px;
        height:40px;
    
    }
   
    .logo-letter{
        top:-3px;
        font-size:2.3rem;
    }

    #nav-links{
        position:relative;
        top:-10px;
    }

    .frontpage{
        width:100%;
        height:85rem;
    }
    .heropage{
       width:100%;
       height:100%;
       margin:0;
    }

    #blob1{
        top:5rem;
        left:-14rem;
    }

    .heroquote{
        position:relative;
        width:100%;
        margin:0;
        top:10.5rem;
        left:-11rem;
    }

    .heroquote p{
        font-size:5em;
    }
    .heroquote2{
        top:30rem;
        left:0rem;
    }
    #img2{
        top:29rem;
        left:23rem;
    }
    .img2{
        width: 22rem;
        height:22rem;
       
    }
   
    .blob2{
        width:20rem;
        height:20rem;
    }
    #blob2{
        top:20rem;
        right:-50rem;
        top:-10rem;
        right:-24rem;
    }
    .HQ1{
        width:90%;
        font-size:3.3rem;
    }
    .HQ2{
        width:95%;
        font-size:1.4rem;
       
    }
    .HQ2 span{
        font-size:2rem;
    }
    #btn{
        width:90vw;
        left:-.5rem;
    }
    .button{
       width:140px;
       height:60px; 
      font-size:1.3rem;
      border-radius: 30px;  
    }
    .button2{
        left:3px;
    }

    @media(max-width:480px){

        .blob2{
           display:none;
        }
        nav{
            margin:0;
            top:0;
            min-width:100%;
            height:59px;
            background: #90e0ef;
            position:fixed;
            z-index:3;
        }

         #nav-logo-cover{
            transform: scale(.98);
            border-radius: 2px;
            margin: 0;
            padding:5px;
            width:10rem;
            height:3rem;
        } 

        .logo{
            top:1px;
            left:1px;
            width:37px;
            height:37px;
        
        }
       
        .logo-letter{
            top:-6px;
            left:.2rem;
            font-size:2rem;
        }
        .nav-logo,.nav-link-bar{
             position:relative;
             top:.5rem;
             margin:0 20px;
        }

        .nav-logo{
            top:5px;
            left:-.98rem;
        }

        .frontpage{
            height:91rem;  
        }

        #blob1{
            top:5rem;
            left:-24rem;
        }

        .nav-links{
            display:none;
        }
         
        .nav-link-bar{
            display:flex;
            justify-content:flex-end;
           
        }

        .slidescreen{
            display:block;
            position:fixed;
            right:-100rem;
            width:55vw;
            height:100vh;
            background: #001d3d;
            transition-property: all;
            transition-duration: 1.3s; 
            transition-timing-function:linear;
           
        }
        .slide-nav-link{
            display: flex;
            flex-direction: column;
            align-content: flex-start;
        }
        .slide-nav-link li{
            width:100%;
            margin-top: 2rem;
        }
        .slide-nav-link li a{
            position: relative;
            top:2rem;
            left:-.5rem;
            text-decoration: none;
            font-family: 'Readex Pro',sans-serif;
            font-size:1.1rem;
            color:#94d2bd;
            
        }
        .slide-nav-link li a:active{
          color:#f9c74f;
        }

        .cancel-img{
            position: absolute;
            right:25px;
            top:1.3rem;
            width:21px;
            height:21px;  
        }
    
        .menu{
            display:block;
            position:relative;
            top:-.8rem;
            margin:0;
            transition-property: all;
            transition-duration: .2s; 
            transition-timing-function:linear;   
        }
        
        .HQ2{
            text-align: start;
            width:98%;
            line-height:2.5rem;
        }

        .heroquote{
            top:10.5rem;
            left:-16rem;
        }
    
        .heroquote p{
            font-size:4.2em;
            line-height:3.5rem;
        }
        .heroquote2{
            top:32rem;
            left:3rem;
        }
        #img2{
            top:30rem;
            left:.5rem;
        }
        .img2{
            width: 21rem;
            height:21rem;
           
        }
        .heroquote2{
            top:34rem;
            left:-.5rem;
        }
    }
    @media(max-width:350px){
        .heroquote{
            top:10.5rem;
            left:-16.8rem;
        }

        .frontpage{
            height:93rem;  
        }

        #img2{
            top:32rem;
            left:.5rem;
        }
        .img2{
            width: 19rem;
            height:19rem;
           
        } 
        .HQ2{
            width:95%;
            font-size:1.3rem;
           
        }
        .HQ2 span{
            font-size:1.8rem;
        }
    }

}   

.content_blog{
    width:100%;
    height:135rem;
    position: relative;
    background-image: linear-gradient(to right bottom, #0d1b2a, #0f1d2d,
    #121f30, #142134, #172337, #1b283d, #202d43, #243249,
    #2b3c54, #324560, #3a506b, #415a77);
    overflow:hidden;
    z-index:2;

}

#app{
    position: relative;
    top:18rem;
    left:7rem;
}
.img4{
    width:40rem;
    height:40rem;
}

#app-info p{
    font-size:1rem;
    font-family: 'Readex Pro',sans-serif;
    position:relative;
    top:-1rem;
    left:10rem;
    color:#415a77;
    border-radius:3px;
    padding:3px 3px;
    margin:0;
}

.app-content{
     font-family:'Readex Pro',sans-serif;
     font-size:6rem;
     color:#f8f9fa;
     position: relative;
     left:53rem;
     top:-13rem;
     line-height:4rem;
     font-weight:800;
}

.three-D{
    position:relative;
    z-index:-1;
    top:-10rem;
    left:-15rem;
}

.Dim1{
    width:200px;
    height:200px;
    top:-35rem;
    left:50rem;
    animation: move;
    animation-duration:3s;
    animation-iteration-count: infinite;
    opacity:100%;
    z-index:1;  
}

@keyframes move{
    0%{
        
    }
    
    50%{
        top:-37rem;
        left:-3rem;
        transform:rotate(20deg);
    }
    70%{
        top:-40rem;
       left:10rem; 
       transform:rotate(40deg);
    }
    100%{
        transform:rotate(0deg);
    }
}

.Dim2{ 
 position:absolute;   
 width:55rem;
 height:55rem;
 top:-25rem;
 left:-30rem;
 opacity:20%;
 background-position: center;
}

.sub_content{
    width:100%;
    height:auto;
    position: relative;
    top:-10rem;
    font-family:'Readex Pro',sans-serif;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.c_blog{
    width:400px;
    height:450px; 
    border-radius:10px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index:2;
    background: #415a77;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    margin-bottom:100px;
}


.cb_img{
    width:380px;
    height:360px;
    position:relative;
    display:flex;
    align-self:center;
    background: #778da9;
    border-radius:10px;
    margin:5px 5px;
    z-index:1; 
    transition-property: all;
    transition-duration: .3s; 
    transition-timing-function:ease-out;  
}

#cb_para p{
    width:100%;
    height:7.5rem;
    text-align: justify;
    text-transform: capitalize;
    font-weight:600;
    font-size:1.2rem;
    padding:0 50px;
    letter-spacing:.5px;
    color:#ffffff;
    position:relative;
    top:-9rem;
    z-index:0;
}

.cb_btn{
    font-family: 'Rubik',sans-serif;
    position: relative;
    top:-7.5rem;
    align-self: center; 
    width:10rem;
    font-size: 1.3rem;
    font-weight:450;
    color:#edf2f4;
    background: #4a4e69;
    border-radius: 5px;
    border:1px solid #4a4e69;
    padding: 10px;  
}

.transition{
    width:380px;
    height:360px;
    position:relative;
    display:flex;
    align-self:center;
    background: #778da9;
    border:5px solid #edf2fb;
    border-radius:5%;
    margin:5px 5px;
    z-index:1; 
    transition-property: all;
    transition-duration: .3s; 
    transition-timing-function:ease-out; 
    transform:translateY(-120px) scale(0.6);
}


@media(max-width:1300px){
    .content_blog{
      height:140rem;  
    }
    #app{
        top:15rem;
        left:5rem;
    }
    #app-info{
        position: relative;
        left:-3rem;
    }
    .img4{
        width:36rem;
        height:36rem;
    }
    
    .app-content{
        font-size:5rem;
        left:44rem;
    }
    .c_blog{
        width:500px;
        height:500px;
      margin-left:10px;
      margin-bottom:120px;
    }
    .cb_img{
        width:480px;
        height:400px;
    }
    .transition{
        width:480px;
        height:400px;
        transform:translateY(-120px) scale(0.7);
    }

    @media(max-width:1105px){
        .content_blog{
            height:120rem;  
          }
        #app{
            top:15rem;
            left:3rem;
        }
        .img4{
            width:30rem;
            height:30rem;
        }
        .app-content{
            font-size:4.2rem;
            top:-11rem;
            left:36rem;
            line-height: 3rem;
        }
        .Dim2{
            top:-23rem;
            left:-27rem;
            width:48rem;
            height:48rem;
        }
        .sub_content{
            top:-6rem;
        }
        .c_blog{
           width:400px;
           height:400px;
          
        }
        .cb_img{
            width:380px;
            height:310px;
        }
        #cb_para p{
            /* font-weight:500; */
            /* line-height: 0px; */
            padding:0 25px;
        }
        .transition{
            width:380px;
            height:310px;
        }
        .Dim1{
            width:150px;
            height:150px;
        }
        @keyframes move{
            0%{
                top:-40rem;
            }
            
            50%{
                top:-28rem;
                left:-3rem;
                transform:rotate(20deg);
            }
            70%{
                top:-28rem;
               left:10rem; 
               transform:rotate(40deg);
            }
            100%{
                transform:rotate(0deg);
            }
        }

    }
    @media(max-width:770px){
        .content_blog{
            height:100rem;
        }
        #app{
            top:14rem;
            left:3rem;
        }
        .img4{
            width:25rem;
            height:27rem;
        }
        .Dim2{
            top:-16rem;
            left:-27rem;
            width:40rem;
            height:40rem;
        }
        .app-content{
            top:-12rem;
            left:35rem;

        }
        #app-info p{
            font-size: .7rem;
            top:-1rem;
            left:3.6rem;
        }
        #app-contentpara{
            position: relative;
            font-size:2.6rem;
            top:5rem;
            left:-5rem;
            line-height: 2rem;
        }
        .Dim1{
            width:100px;
            height:100px;
        }

        @keyframes move{
            0%{
                top:-29rem;
            }
            
            50%{
                top:-15rem;
                left:-8rem;
                transform:rotate(20deg);
            }
            70%{
                top:-15rem;
               left:3rem; 
               transform:rotate(40deg);
            }
            100%{
                transform:rotate(0deg);
            }
        }
        .sub_content{
            top:2rem;
        }
        .c_blog{
            width:300px;
            height:300px;
           
         }
         .cb_img{
             width:290px;
             height:220px;
         }
         .transition{
            width:290px;
            height:210px;
         }

         #cb_para p{
            font-size:1.2rem;
         }

         .cb_btn{
            top:-8rem;
         }
       
    }

    @media(max-width:430px){
        .content_blog{
            height:116rem;
        }
        #app{
            display:flex;
            flex-direction: column;
            align-items: center;
            top:5rem;
            left:0rem;
        }

        #app-info p{
            top:-.5rem;
        }

        .img4{
           
            width:24rem;
            height:26rem;
        }
        .Dim2{
            top:-12rem;
            left:-37rem;
            width:30rem;
            height:30rem;
            opacity:10%;
        }
        .app-content{
            top:15rem;
            left:36rem;

        }
        #app-contentpara{
            font-size:3.9rem;
            position: relative;
            top:2.5rem;
            left:-34rem;
            line-height: 2.5rem;

        }
        .sub_content{
            top:10rem;
        }
        .c_blog{
            margin:0;
           top:10rem;

         }
         
         .Dim1{
            width:100px;
            height:100px;
             top:-25rem;
             left:-10rem;
         }

         @keyframes move{
            0%{
                
            }
            
            50%{
                top:-20rem;
                left:-36rem;
                transform:rotate(20deg);
            }
            70%{
                top:-20rem;
                left:-20rem; 
               transform:rotate(40deg);
            }
            100%{
                left:36rem; 
                transform:rotate(0deg);
            }
        }

        .c_blog{
            width:200px;
            height:240px;
            margin-bottom:150px; 
         }
         .cb_img{
             width:190px;
             height:170px;
         }
         .transition{
            border-width:3px;
            width:190px;
            height:170px;
            transform:translateY(-100px) scale(.8);
         } 

         #cb_para p{
            top:-6rem;
            font-size:.8rem;
            font-weight:500;
            padding:0 10px;
           
         }

         .cb_btn{
            font-weight: 600;
            width:100px;
            top:-8rem;
            font-size:.8rem;
         }
    }
    

    @media(max-width:400px){
        .content_blog{
            height:100rem;  
          }
        .Dim2{
           
            width:24rem;
            height:24rem;
            opacity:10%;
        }
        .app-content{
            top:13rem;
            left:36rem;

        }
        #app-contentpara{
            font-size:2.8rem;
            position: relative;
            top:6rem;
            left:-34rem;
            line-height: 2rem;

        }
        @keyframes move{
            0%{
                
            }
            
            50%{
                top:-14rem;
                left:-36rem;
                transform:rotate(20deg);
            }
            70%{
                top:-14rem;
                left:-25rem; 
               transform:rotate(40deg);
            }
            100%{
                left:25rem;
                transform:rotate(0deg);
            }
        }
     
        .img4{
            width:20rem;
            height:20rem;
        } 
        .sub_content{
            top:10rem;
        }
        
        .c_blog{
            margin-bottom:130px; 
            width:160px;
            height:200px;
          
         }
         .cb_img{
             width:150px;
             height:130px;
         }
         .transition{
            width:150px;
             height:130px;
            transform:translateY(-80px) scale(0.9);
         } 
         #cb_para p{
            top:-5rem;
            font-size:.6rem;
         }
         .cb_btn{
            top:-8rem;
            font-size:.8rem;
            width:100px;
            height:40px;
         }
    }
    @media(max-width:330px){
        .sub_content{
            top:10rem;
        }
        .img4{
            width:19rem;
            height:20rem;
        } 
        .c_blog{
            margin-bottom:130px; 
            width:140px;
            height:200px;
          
         }
         .cb_img{
             width:130px;
             height:150px;
         }
         .transition{
            width:130px;
             height:150px;
            transform:translateY(-80px) scale(0.9);
         } 
         #cb_para p{
            top:-5rem;
            font-size:.6rem;
         }
    }
}

#aboutus{
    width:100%;
    height:100%;
    background-image: linear-gradient(to right bottom, #0077b6, #008cc4, #06a1d0, #2ab5db, #48cae4);
    font-family: 'Readex Pro',sans-serif;
    overflow:hidden;
}

.about-head{
  position: relative;
  top:2rem;
  margin:0 30%;
  margin-bottom:70px;
  font-size:4rem;
  font-weight:800;
  color:#1b263b;
}
.about-imgpara{
    width:100%;
    height:100%;
    display:flex;
    margin:0 60px;
}
.about-para {
   position: relative;
   z-index: 0;
   width:50%;
   text-align: justify;
   font-size:1.3rem;
   font-weight:700;
   color:#ffffff;
   margin-bottom:30px;
}

.about-para span{
   font-weight:700;

}
.imgHidden{
    display:none;
}
#img3{
    width:50%;
    height:100%;
    position: relative;
    z-index: 0;
    left:5rem;
}
.img3{
    width:30rem;
    height:30rem;
}

#team{
    font-family: 'Readex pro';
    width:100%;
    height:37rem;
    background:url(team_bgcover.jpg);
    background-position: center;
    background-size: cover;
    /* background-image: linear-gradient(to left bottom, #a2d2ff, #bbc9ff, #d7c0f6, #efb6e5, #ffafcc); */
}

#sub_team{
    display:flex;
    padding:50px;
    width:80%;
    height:100%;
    margin:0 10%; 
}  

#team_mate1{
    width:100%;
    height:100%;
}

#team_mate2{
    width:100%;
    height:100%;
}

#mate_img{
    justify-content: center;
    align-items: center;
    width:300px;
    height:300px;
}


@media (max-width:1300px){
    .about-imgpara{
        width:90%;
        height:auto;
        flex-direction:column;
    }
    .img3{
        display:none;
    }
    .imgHidden{
        display:block;
    }
    .about-para {
        width:100%;
        margin-bottom:20px;
    }

    #team{
       height:40rem;
    }

    #sub_team{
        display:flex;
        padding:50px 20px;
        width:90%;
        height:100%;
        margin:0 5%; 
    } 

@media(max-width:768px){
    .about-head{
        width:80%;
        font-size:3rem;
        margin:0;
        margin-bottom:70px;
        margin-left:20%;
    }
    .about-imgpara{
        margin:0;
        margin-left:1rem;
    }
    .about-para{
        text-align:justify;
    }
    .imgHidden{
       width:18rem;
       height:18rem;
    }
     
    #team{
        height:65rem;
    }

    #sub_team{
        flex-direction: column;
        padding:50px;
        width:90%;
        height:45rem;
        margin:0 5%; 
    }

    #mate_img{
        left:8rem;
        
    } 
}  
   @media(max-width:430px) {
    .about-head{
        margin-top:30px;
    }
    .about-para{
       font-size:1rem;
    }
    #team{
        height:65rem;
    }

    #sub_team{
        flex-direction: column;
        padding:30px;
        width:100%;
        height:100%;
        margin:0;
    } 

    #mate_img{
        left:2rem;
        width:250px;
        height:250px;
    }

    #mate2para{
        margin-top: 30px;
    }

   }

   @media(max-width:375px){

    #nav-logo-cover{
      width:9.3rem;
    }

    #mate_img{
        width:220px;
        height:220px;
    }

   }
}

footer{
    font-family: 'Readex Pro',sans-serif;
    background: #0d1b2a;
    width:100%;
    height:23rem;
    overflow: hidden;
}
.footer-item {
    color:#f4d35e;
}
.footer-items{
    color:#faf0ca;
    position: relative;
    top:3rem;
    left:2rem;
}
address{
    text-transform: capitalize;
    line-height: 4rem;
}
.footer-links li{
    position:relative;
    top:2rem;
    left:-4rem;
    margin-left:40px;
    display: inline-block;
    transform: scale(1.5);
    text-decoration: none;
    background:#ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-links li:hover{
    background:#ffd60a;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(2);
}

.footer-btn{
    background: #023e7d;
    font-size:1.3rem;
    font-weight:500;
    padding:5px;
    width:100px;
    border:1px solid #023e7d;
    border-radius:5px;
}
.footer-btn:hover{
background:transparent;
border:1px solid #faf9f9;
}

.footer-btn a{
    color:#ffffff;
    text-decoration: none;
}
.footer-items span{
color:#ffffff;
}
@media(max-width:430px){
    .footer-items{
        font-size:.9rem;
        top:3rem;
        left:1rem;
    }

}
