*{
    margin:0;
    padding:0;
    text-decoration: none; 
    list-style-type: none;
    box-sizing: border-box;
   
}

.frontpage{
    position: relative;
    width:100%;
    height:68rem;
    background:#90e0ef;
    margin: 0;
    overflow: hidden;

}

nav{
    max-width:70%;
    height:auto;
    display:flex;
    position:relative;
    z-index:1;
    top:2rem;  
    margin:0 15%; 
    margin-bottom:10rem;

}

.nav-logo{
    display:flex;
    font-weight: 900;
    width:50%;
    height: fit-content;
    flex:1;
}

.logo,.nav-logo-letter{
    
    margin:0;
    font-weight: 900;
}

.logo{
    width:40px;
    height:40px;
   
}

.logo-letter{
    position: relative;
    top:-.2rem;
    color:#0466c8;
    font-family: 'Readex Pro', sans-serif;
    font-size:2rem;
    font-weight: 600;
    margin-left:.3rem;
    -webkit-text-stroke: #eff3f2;
}
.nav-link-bar{
   
    flex:2;
    font-size: 1.3rem;
    align-self: center;
    width:20%;
   
}

.nav-links{
    font-family: 'Readex pro',sans-serif;
    font-size: 1.rem;
    font-weight: 600;
    background: #0077b6;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin:0;
    display: flex;
    justify-content: flex-end;
   
}

.nav-link{
 margin:0 auto;
}

.heropage{
    max-width:90%;
    height:100%;
    position:relative;
    top:-3rem;
    margin:0;
}
#blob1{
    top:-6rem;
    position:absolute;
    z-index: 0;
   
}

.blob1{
    height:45rem;
    width:60rem; 
}

.heroquote p{
width:fit-content;
height:auto;   
position:relative;
top:3rem; 
left:18rem;   
font-family: 'Rubik',sans-serif;
font-size:6rem;
font-weight: 600;
border-style:hidden;
outline:none;
line-height: 5rem;
}

.heroquote span{
color:#F8F9FA;

}

.img2{
    width: 25rem;
    height:25rem;
   
}

#img2{
 position:absolute;
 z-index: 1;
 top:-.5rem;
 left:44rem;
}

#blob2{
    position:absolute;
    z-index:0;
    top:-28rem;
    right:8rem;
    width:31.25rem;
    height:31.25rem;
}

.blob2{
   width:31.25rem;
   height:31.25rem;

}
.heroquote2{
   width:70vw;
   height:auto;
   font-family:'Readex pro',sans-serif;
   color:#5a189a;
   position:relative;
   top:4rem;
   left:18rem;
}
.HQ1{
    width:70vw;
    font-size:5rem;
    font-weight:600;
}
.HQ2{

    width:50vw;
    position:relative;
    top:-.5rem;
    font-size:1.5rem;
    font-weight:500;
    line-height:3rem;  
}

.HQ2 span{
    font-size:2rem;
    background-image: linear-gradient(to bottom, #ffaa00, #ffad00, #ffb100, #ffb400, #ffb700);
    background:#ffaa00;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:700;
}
#btn{
    width:50vw;
    height:auto;
    position:relative;
    top:1rem;
    z-index:1;
}

.button {
    width:12.5rem;
    height:6.25rem;
    font-family: 'jost',sans-serif;
    color:#ffffff;
    top:0rem;
    font-size: 2rem;
    font-weight:600;
    background:#e2afff;
    border:1px solid #e2afff;
    border-radius: 10px;
  
}

.button1:hover{
    background: transparent;
    border:3px solid #ffffff;
    color:#ffffff;

}

.button2{
    position:relative;
    left:.5rem;
    background:#0077b6;
    border:3px solid #0077b6;
    color:#caf0f8;
}

.button2:hover{
    background: transparent;
    border:3px solid #05668d;
    color:#05668d; 
} 

 @media (max-width:1300px){
    .nav{
        width:90%;
        margin:0 5%;
    }
    .logo{
        width:50px;
        height:50px;
    }
    .frontpage{
        width:100vw;
        height:75rem;
    }
    .heropage{
       width:100%;
       height:100%;
       margin:0;
    }
    #blob1{
        left:-13rem;
    }
    .heroquote{
        position:relative;
        width:fit-content;
        margin:0;
        top:2rem;
        left:-8rem;
    }
    .heroquote p{
        font-size:5rem;
        line-height:4.5rem;
    }
   
    #img2{
        top:rem;
        left:33rem;
    }
    .img2{
        width: 25rem;
        height:25rem;
       
    }
    #blob2{
        top:-23rem;
        right:-34rem;
    }
    .blob2{
        width:24rem;
        height:24rem;
    }
    .heroquote2{
        width:90%;
        margin:0 10%;
        top:7rem;
        left:5rem;
    }
    .HQ1{
        width:85%;
        font-size:5rem;
    }
    .HQ2{
        width:80%;
       font-size:1.7rem;
    }
    .HQ2 span{
        font-size:2.5rem;
    }
    
    .button2{
        left:0.3rem;
    }

 @media(max-width:1105px){
    .frontpage{
        height:78rem;
    }

 }   

} 

@media (max-width:768px){
    nav{
        max-width:95%;
        margin:0 5%;

    }
    .logo{
        width:34px;
        height:34px;
    
    }
    .logo-letter{
        font-size:1.7rem;
    }
    .nav-links{
        display:none;
    }

    .menu{
        width:100%;
        display:flex;
        flex-direction: column;
        margin:0;   
    }

    .hamburger{
        width:30px;
        height:7px;
        align-self: flex-end;
        background:#ffffff;
        position:relative;
        top:-.5rem;
        margin:1.4px;
        border-radius: 10px;;
    }

    .frontpage{
        width:100%;
        height:85rem;
    }
    .heropage{
       width:100%;
       height:100%;
       margin:0;
    }

    #blob1{
        top:4rem;
        left:-20rem;
    }

    .heroquote{
        position:relative;
        width:100%;
        margin:0;
        top:9rem;
        left:-17rem;
    }

    .heroquote p{
        font-size:4.3em;
    }
    .heroquote2{
        top:30rem;
        left:-.5rem;
    }
    #img2{
        top:33rem;
        left:1rem;
    }
    .img2{
        width: 18rem;
        height:18rem;
       
    }
    .blob2{
        width:20rem;
        height:20rem;
    }
    #blob2{
        top:20rem;
        right:-50rem;
        top:-10rem;
        right:-24rem;
    }
    .HQ1{
        width:90%;
        font-size:3.3rem;
    }
    .HQ2{
        width:90%;
        font-size:1.4rem;
       
    }
    .HQ2 span{
        
        font-size:2rem;
    }
    #btn{
        width:90vw;
        left:-.5rem;
    }
    .button{
       width:140px;
       height:60px; 
      font-size:1.3rem;
      border-radius: 30px;  
    }
    .button2{
        left:3px;
    }

    @media(max-width:480px){
        .frontpage{
            height:95rem;  
        }
        
        .HQ2{
            width:95%;
            line-height:2.5rem;
        }
    }

}   

.content_blog{
    width:100%;
    height:130rem;
    position: relative;
    /* background: #0d1b2a; */
    background-image: linear-gradient(to right bottom, #0d1b2a, #0f1d2d, #121f30, #142134, #172337, #1b283d, #202d43, #243249, #2b3c54, #324560, #3a506b, #415a77);
    overflow:hidden;
    z-index:2;

}

#app{
    position: relative;
    top:18rem;
    left:4rem;
}
.img4{
    width:40rem;
    height:40rem;
}

#app-info p{
    font-size:1rem;
    font-family: 'Readex Pro',sans-serif;
    position:relative;
    top:-1rem;
    left:10rem;
    color:#6c757d;
    border-radius:3px;
    padding:3px 3px;
    margin:0;
}

.app-content{
     font-family: 'Readex Pro',sans-serif;
     font-size:6rem;
     color:#f8f9fa;
     position: relative;
     left:50rem;
     top:-13rem;
     line-height:4rem;
     font-weight:800;
}

.three-D{
    position:relative;
    z-index:-1;
    top:-10rem;
    left:-15rem;
}

.Dim1{
    width:200px;
    height:200px;
    top:-30rem;
    left:50rem;
    animation: move;
    animation-duration:3s;
    animation-iteration-count: infinite;
    opacity:100%;
    z-index:1;  
}

@keyframes move{
    0%{
        
    }
    
    50%{
        top:-35rem;
        left:5rem;
        transform:rotate(20deg);
    }
    70%{
        top:-40rem;
       left:10rem; 
       transform:rotate(40deg);
    }
    100%{
        transform:rotate(0deg);
    }
}

.Dim2{ 
 position:absolute;   
 width:55rem;
 height:55rem;
 top:-25rem;
 left:-30rem;
 opacity:20%;
 background-position: center;
}

.sub_content{
    width:100%;
    height:auto;
    position: relative;
    top:-4rem;
    font-family: 'Readex Pro',sans-serif;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    

}

.c_blog{
    width:400px;
    height:430px; 
    border-radius:10px;
    display: flex;
    flex-direction: column;
    background: #415a77;
    position: relative;
    z-index:2;
    background: #415a77;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    margin-bottom:50px;
    /* border:1px solid rgb(239, 229, 229); */
   

}

/* c-block 1 */

.cb1_img{
    width:380px;
    height:360px;
    position:relative;
    display:flex;
    align-self:center;
    background: #778da9;
    border-radius:10px;
    margin:5px 5px;
    z-index:1; 
    transition-property: all;
    transition-duration: .2s; 
    transition-timing-function:linear;  
}
#blog_img1{


}


#cb1_para p{
    text-align: center;
    font-weight:600;
    font-size:1.2rem;
    padding:20px;
    color:#fff0f3;
    position:relative;
    top:-10rem;
    z-index:0;
}

#cb1_btn{
    font-size: 1.3rem;
    width:30%;
    position: relative;
    top:-8rem;
    display: flex;
    align-self: center;
}

.transfunction{
    width:380px;
    height:360px;
    position:relative;
    display:flex;
    align-self:center;
    background: #778da9;
    border-radius:5%;
    margin:5px 5px;
    z-index:1; 
    transition-property: all;
    transition-duration: .2s; 
    transition-timing-function:linear; 
    transform:translateY(-120px) scale(0.9);
}


   /* c-block 2 */

.cb2{
    background: #00b4d8;
    border:1px solid #00b4d8;  
}
.b_img2{
    position:relative;
    left:2rem;
    width:350px;
    height:350px;
}
#cb2_para p{
    position:relative;
    top:-2rem;
    text-align: center;
    font-weight:600;
    font-size:1.2rem;
    padding:5px;
    color:#caf0f8;
}

#slideshow{
    position:relative;
    top:-33rem;
    left:35rem;
    width:500px;
    height:100px;
    background: #212529;
    color:#F8F9FA;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

@media(max-width:1300px){
    .content_blog{
         width:100%;
         height:100rem;
    }
    #img4{
        width:100%;
        left:10rem;
    }
    .content_blog1{
        width:100%;
        top:10rem;
        justify-content: space-between;
    }
    .c_blog{
        margin-top:50px;
    }

    #cb1_para{
        font-size:1.3rem;
        width:100%;
        text-align:center;
    }
    .cb2,.cb4{
        left:0;
    } 
    .cb3,.cb4{
        bottom:0;
    }
    

}

#aboutus{
    width:100%;
    height:100%;
    background:#4361ee;
    font-family: 'Readex Pro',sans-serif;
    overflow:hidden;
}

.about-head{
  position: relative;
  top:2rem;
  margin:0 30%;
  margin-bottom:70px;
  font-size:4rem;
  font-weight:800;
  color:#1b263b;
}
.about-imgpara{
    width:100%;
    height:100%;
    display:flex;
    margin:0 60px;
}
.about-para {
   position: relative;
   z-index: 0;
   width:50%;
   text-align: justify;
   font-size:1.3rem;
   font-weight:700;
   color:#ffffff;
   margin-bottom:30px;
}

.about-para span{
   font-weight:700;

}
.imgHidden{
    display:none;
}
#img3{
    width:50%;
    height:100%;
    position: relative;
    z-index: 0;
    left:5rem;
}
.img3{
    width:30rem;
    height:30rem;
}

@media (max-width:1300px){
    .about-imgpara{
        width:90%;
        height:auto;
        flex-direction:column;
    }
    .img3{
        display:none;
    }
    .imgHidden{
        display:block;
    }
    .about-para {
        width:90%;
        margin-bottom:20px;
    }

@media(max-width:768px){
    .about-head{
        width:70%;
        font-size:3rem;
        margin:0;
        margin-bottom:70px;
        margin-left:15%;
    }
    .about-imgpara{
        margin:0;
        margin-left:2rem;
    }
    .about-para{
        text-align:start;
    }
    .imgHidden{
       width:18rem;
       height:18rem;
    }

}    
}


